@import "@/assets/styles/variables";

.page-login {
  background: linear-gradient(30deg, #185278, #297eb8 50%, #50a0d7);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.page-login_wrapper {
  display: flex;
  flex: 1;
}

.page-login_left {
  flex: 1;
}

.page-login_right {
  flex: 1;
}

.page-login_title {
  font-size: 34px;
  color: white;
  font-weight: 700;
  text-align: center;
  margin-top: 0px;
}

.page-login_subtitle {
  color: white;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 30px;
}

.page-login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-login_input-wrapper {
  width: 100%;
}

.page-login_input {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto 30px auto;
  color: white;
  position: relative;
  label {
    margin-bottom: 5px;
  }
  input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(147, 190, 220, 0.5);
    color: white;
    padding: 5px 0px;
    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #93bedc;
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #93bedc;
    }

    &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #93bedc;
    }
  }
  .hasError {
    position: absolute;
    left: 0;
    bottom: -20px;
    color: $red;
    font-size: 14px;
  }
}

.page-login_forgot {
  width: 70%;
  margin: 0 auto 15px auto;
  text-align: right;
  color: white;
  cursor: pointer;
}

.page-login_submit {
  width: 70%;
  margin: 0 auto;
  padding: 13px 20px;
  background-color: $green;
  border: 2px solid $green;
  border-radius: 120px;
  color: white;
  transition: 0.2s all;
  &:hover {
    box-shadow: 0 0 13px 1px #aae481;
  }
}
